## Food Balance Sheet Analysis

## Dataset Overview

This food Balance Sheet compiled by the Food and Agriculture Organization of the United Nations contains selection of African countries food country supply between 2014 to 2018.

This food balance sheet shows the food items for human consumption, along with how much was produced, used, imported/exported, and how it benefits the society (per capita supply).


### The dataset is provided by the Food and Agriculture Organization of the United Nations

### Questions for Analysis

**Global food and feed production comparison:**
    
 1. Analysis of changes in production in the years available

 2. Which countries were the largest producers?

 3. Which foods and feedingstuffs were the most commonly produced?

In [1]:
# import all packages and set plots to be embedded inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

# suppress warnings from final output
import warnings
warnings.simplefilter("ignore")

In [3]:
# import dataset to pandas dataframe
df_FBS = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='Latin-1')

print(df_FBS.shape)

df_FBS.head(15)

(60943, 12)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
5,4,Algeria,2903,Vegetal Products,664,Food supply (kcal/capita/day),kcal/capita/day,2932.00,2958.00,2941.00,2921.00,2932.00
6,4,Algeria,2903,Vegetal Products,674,Protein supply quantity (g/capita/day),g/capita/day,67.14,67.38,67.37,66.11,67.10
7,4,Algeria,2903,Vegetal Products,684,Fat supply quantity (g/capita/day),g/capita/day,53.84,54.72,52.04,55.59,54.57
8,4,Algeria,2941,Animal Products,664,Food supply (kcal/capita/day),kcal/capita/day,444.00,421.00,431.00,421.00,390.00
9,4,Algeria,2941,Animal Products,674,Protein supply quantity (g/capita/day),g/capita/day,27.76,26.97,27.35,26.71,24.73
10,4,Algeria,2941,Animal Products,684,Fat supply quantity (g/capita/day),g/capita/day,26.22,24.64,25.37,24.60,22.71
11,4,Algeria,2905,Cereals - Excluding Beer,5511,Production,1000 tonnes,3436.00,3761.00,3445.00,3478.00,6065.00
12,4,Algeria,2905,Cereals - Excluding Beer,5611,Import Quantity,1000 tonnes,12604.00,13983.00,13523.00,13039.00,13182.00
13,4,Algeria,2905,Cereals - Excluding Beer,5072,Stock Variation,1000 tonnes,684.00,1663.00,905.00,705.00,2226.00
14,4,Algeria,2905,Cereals - Excluding Beer,5911,Export Quantity,1000 tonnes,3.00,7.00,7.00,10.00,17.00

In [11]:
# make a copy of the dataframe before data cleaning
food_Balance_Sheet = df_FBS.copy()

food_Balance_Sheet.head() # just to confirm if we have a copy of the dataframe

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [12]:
# Delete unnecessary columns
food_Balance_Sheet.drop(columns=['Area Code', 'Item Code', 'Element Code'], inplace = True)

In [13]:
# Remove 'Y' from the year's labels
food_Balance_Sheet.rename(columns={x:x[1:] for x in food_Balance_Sheet.columns if 'Y' in x}, inplace = True)

# Change the names of some labels
food_Balance_Sheet.rename(columns={'Area': 'country_name', 'Element': 'element', 'Unit': 'unit'}, inplace = True)

# Change all column names to lower case
food_Balance_Sheet.rename(columns = {x:x.lower for x in food_Balance_Sheet.columns}, inplace = True)

In [14]:
# confirm if our cleaning task worked
food_Balance_Sheet.head()

,country_name,Item,element,unit,2014,2015,2016,2017,2018
0,Algeria,Population,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,Algeria,Population,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,Algeria,Grand Total,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,Algeria,Grand Total,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,Algeria,Grand Total,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [15]:
food_Balance_Sheet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_name  60943 non-null  object
 1   Item          60943 non-null  object
 2   element       60943 non-null  object
 3   unit          60943 non-null  object
 4   2014          59354 non-null  float64
 5   2015          59395 non-null  float64
 6   2016          59408 non-null  float64
 7   2017          59437 non-null  float64
 8   2018          59507 non-null  float64
dtypes: float64(5), object(4)
memory usage: 4.2+ MB

In [16]:
food_Balance_Sheet.describe()

,2014,2015,2016,2017,2018
count,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.196282,135.235966,136.555222,140.917765,143.758381
std,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.090000,0.080000,0.080000,0.100000,0.070000
75%,8.340000,8.460000,8.430000,9.000000,9.000000
max,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [17]:
food_Balance_Sheet.isnull().sum()

country_name       0
Item               0
element            0
unit               0
2014            1589
2015            1548
2016            1535
2017            1506
2018            1436
dtype: int64

In [18]:
food_Balance_Sheet.duplicated().any()

True

In [19]:
food_Balance_Sheet['country_name'].unique()

array(['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso',
       'Cabo Verde', 'Cameroon', 'Central African Republic', 'Chad',
       'Comoros', 'Congo', "Côte d'Ivoire", 'Djibouti', 'Egypt',
       'Eswatini', 'Ethiopia', 'Ethiopia PDR', 'Gabon', 'Gambia', 'Ghana',
       'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia',
       'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius',
       'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda',
       'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone',
       'South Africa', 'Sudan', 'Sudan (former)', 'Togo', 'Tunisia',
       'Uganda', 'United Republic of Tanzania', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [20]:
food_Balance_Sheet['item'].unique()

KeyError: 'item'

In [21]:
food_Balance_Sheet['element'].unique()

array(['Total Population - Both sexes', 'Domestic supply quantity',
       'Food supply (kcal/capita/day)',
       'Protein supply quantity (g/capita/day)',
       'Fat supply quantity (g/capita/day)', 'Production',
       'Import Quantity', 'Stock Variation', 'Export Quantity', 'Feed',
       'Seed', 'Losses', 'Processing', 'Other uses (non-food)',
       'Residuals', 'Food', 'Food supply quantity (kg/capita/yr)',
       'Tourist consumption'], dtype=object)